.logo {
  display: flex;
  min-height: 140px;
  padding-bottom: 0;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo__wrapper {
  display: flex;
  min-width: 120px;
  padding: 1rem 0.5rem;
  margin: 0.5rem;
  justify-content: center;
  flex: 1;
  filter: brightness(0) invert(1);
  transition: filter 150ms ease-in-out;
}

.logo__wrapper:hover {
  filter: none;
}

.logo__image {
  max-height: 30px;
}

.logo__image--small {
  max-height: 16px;
}
