.getQuestdb {
  margin-left: 40px;
  font-size: var(--font-size-small);
}

.inner {
  margin: 0 auto;
  padding: 0 var(--ifm-spacing-horizontal);
}

:global(.navbar__item--slack),
:global(.navbar__item--github) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

:global(.navbar__item--slack:before),
:global(.navbar__item--github:before) {
  position: relative;
  content: " ";
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

:global(.navbar__item--github:before) {
  background: url("/img/navbar/github.svg") 0 center / 20px 20px no-repeat !important;
}

:global(.navbar__item--slack:before) {
  background: url("/img/navbar/slack.svg") 0 center / 18px 18px no-repeat !important;
}

/* Remove Algolia shorcuts */
:global(.DocSearch-Button-Key) {
  display: none !important;
}

:global(.navbar__link),
:global(.dropdown__link) {
  font-size: var(--ifm-font-size-base);
}

@media (max-width: 768px) {
  .getQuestdb {
    margin-left: 0.75rem;
    padding: 0.5rem;
    font-size: calc(var(--font-size-small) - 1px);
  }

  :global(.DocSearch-Button) {
    margin: 0 !important;
  }

  :global(.navbar__brand) {
    margin: 0;
  }
}

@media (max-width: 996px) and (min-width: 768px) {
  .getQuestdb {
    margin-left: 1.7rem;
  }
}

@media (max-width: 996px) {
  :global(.navbar-sidebar) .brand {
    margin-left: 1.5rem;
  }

  :global(.navbar__item.navbar__item--slack),
  :global(.navbar__item.navbar__item--github) {
    display: none;
  }
}

@media (max-width: 1150px) and (min-width: 996px) {
  .getQuestdb {
    margin-left: 1.7rem;
  }

  :global(.navbar__link) {
    --ifm-navbar-item-padding-horizontal: 0.85rem;
  }

  :global(.navbar__brand) {
    margin-right: 0.85rem;
  }

  :global(.DocSearch-Button) {
    margin-left: 0.85rem;
  }
}

@media (min-width: 1740px) {
  .inner {
    max-width: var(--ifm-container-width);
  }
}
