.console-illustration {
  width: 500px;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  box-shadow: var(--image-shadow);
}

@media (max-width: 996px) {
  .console-illustration {
    width: 440px;
    max-width: 88%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}
